[submodule "ModifierLibraryLite/Assets/Tests/SharedTests/ModifierLibraryShared"]
	path = ModifierLibraryLite/Assets/Tests/SharedTests/ModifierLibraryShared
	url = git@github.com:Chillu1/ModifierLibraryShared.git
